<html lang="en">

<%- include("./partials/header") %>

    <body>

        <%- include('./partials/navbar') %>

            <% if(locals.blog){ %>

            

                <div class="container my-3">
                    <h4 class="card-title">
                        <%= locals.blog.title %>
                    </h4>



                    <div class="card my-2" style="width: 50rem;">
                        
                        <img src='<%= locals.blog.coverpic %>' class="card-img-top" alt="...">
                        <div class="card-body">
                          
                            <p class="card-text">
                                <%= locals.blog.description %>
                            </p>

                            <h5>Created by : <%= locals.blog.createdBy.name %>
                            </h5>
                            <h5>Date : <%=(locals.blog.createdAt) %>
                            </h5>

                        </div>
                    </div>

                    <div class="container m-2">
                        <h3>Comments (<%= locals.comments.length %>)</h3>
                        <% if(locals.user){%>
                            <form action='/api/blog/<%=locals.blog._id%>' method="post">
                                <div class="mb-3">
                                    <input type="text" placeholder="Add your comment" class="form-control"
                                        id="exampleInputComment" name="title" aria-describedby="emailHelp" required>
                                </div>

                                <button type="submit" class="btn btn-primary">Post</button>
                            </form>



                            <% } %>
                                <div class="">
                                    <% locals.comments.forEach(comment=>{%>

                                <div class="my-2" style="width: 18rem;">

                                    <img src='<%= comment.createdBy.profilepic%>' width="50" alt="">

                                    <span class="card-title">
                                        <%= comment.createdBy.name%><span />
                                            <p class="card-text">
                                                <%= comment.title%>
                                            </p>
                                </div>
                                <% })%>
                                </div>
                    </div>

                </div>
                <% } %>


                    <%- include("./partials/footer") %>

    </body>

</html>