<html lang="en">

<%- include("./partials/header") %>
<body>

    <%- include('./partials/navbar') %>
    

    <div class="container d-flex flex-wrap justify-content-between my-2">


    <% if(locals.blogs){ %>

    <h2 class="container mt-2">Latest Blogs</h2>


        <% locals.blogs.forEach((blog) => { %>

          <div class="card my-2" style="width: 22rem;">
                <img src='<%= blog.coverpic %>' class="card-img-top" alt="...">
                <!-- <div><%= blog.coverpic %></div> -->
                <div class="card-body">
                    <h5 class="card-title"><%= blog.title %></h5>
                    <p class="card-text"><%= blog.description.length>150?blog.description.slice(0,150)+"...":blog.description %></p>
                    <a href="/<%=blog._id%>" class="btn btn-primary">Read more</a>
                   <% if(locals.user) {%>

                    <form action="/api/blog/delete/<%= blog._id %>" method="POST" style="display:inline;">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">DELETE</button>
                    </form>
                       
                   <% } %>
                </div>
            </div>

       <%  }) %>
    <% } else {%>

        <h2>No Blogs Here....</h2>

        <% } %>

</div>





    <%- include("./partials/footer") %>
    
</body>
</html>